.AddUserInputBox {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddUserInputBox form {
  margin-right: 10px;
}

.AddUserInputBox form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.AddUserInputBox form button {
  margin-top: 10px;
}
